.buscador-container {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 1rem auto;
}

.buscador-container .input-buscador {
  font-size: 1rem;
  flex: 0.4;
  border-radius: 8px;
  border: none;
  padding: 12px;
}
.buscador-container button {
  margin-left: 1rem;
}
